.content-gallery {

    .grid {
        margin: 0 -.5rem;
        padding: 0;
        list-style: none;
    }

    .grid-item {
        box-sizing: border-box;
        padding: .5rem;

        figure {
            margin: 0;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &--cols-1 .grid-item { width: 100%; }
    &--cols-2 .grid-item { width: 50%; }
    &--cols-3 .grid-item { width: 33.3333%; }
    &--cols-4 .grid-item { width: 25%; }
    &--cols-5 .grid-item { width: 20%; }
    &--cols-6 .grid-item { width: 16.6667%; }

    @media (max-width: 991.98px) {
        &--cols-3,
        &--cols-4,
        &--cols-5,
        &--cols-6 {
            .grid-item {
                width: 50%;
            }
        }
    }

    @media (max-width: 575.98px) {
        .grid-item {
            width: 100%;
        }
    }
}
